	<div class="footer">
		<ul>
			<li><a href="/" title="Úvodní stránka">Saltstack</a></li>
			<li><a href="/vps/" title="Virtual Private Server">VPS</a></li>
			<li><a href="/kontakt/" title="Kontaktní informace">Kontakt</a></li>
		</ul>
	</div>

  </body>
</html>
