---
layout: false
---

<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
	<Title>Saltstack.cz</Title>
  <ShortName>Saltstack.cz</ShortName>
	<Link>https://saltstack.cz</Link>
  <Description>Prohledat saltstack.cz</Description>
  <InputEncoding>UTF-8</InputEncoding>
	<Image width="16" height="16" type="image/x-icon">https://saltstack.cz/favicon.ico</Image>
	<Url type="text/html" method="get" template="https://saltstack.cz/s/?q={searchTerms}"></Url>
</OpenSearchDescription>
