---
layout: false
---

<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
	<Title>Saltstack.cz</Title>
  <ShortName>Saltstack.cz</ShortName>
	<Link>https://saltstack.cz</Link>
  <Description>Prohledat saltstack.cz</Description>
  <InputEncoding>UTF-8</InputEncoding>
	<Image width="16" height="16">data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACoklEQVQ4jY2SW0iTcRjG36LpPg3dzMOmcx4r9RPxFGblRSFEUmHS7EZRL4LwlKaiWREVWuqQ1DTniUhcJOEhw5z7f/vcmlqaIAmBIK3QIDW8CCrK9OnKECzXc/0+P3j4vUR/gl3eDghxJyi9HHHSh7DHS4I4+p/ICa4+zohUcYiTE1zdnaD04aDy5nBYKYWfJ8Fr27KHMxT+UvgTeexWqBW8mg884u0XHE3k4uYn/R4gJ7j+E+DNQa1wAB8cHXHwbE7e8/zauuXiJt3XwoamlbSy8pdh8fEaItphb4XieFr6VK1BQMfUGzRZxtE+OY0G0wukZOe8J6K99gBeWddvTOlGJ9BrW0DL6Cs0W8bRKFpx4Y52mnPjVPYA5M/zhZrsXNzvG4DeNILGnn6k5hcgIDS0xG6ZiEgeFn5ZFh4B1bFEHCi9igTdA8TWN0MeG1uxcTMsDscKguHQ4OCg4xZAUNb55pDsi0ioqcPRqlpoJmaQ8m4R+/MK+1REnCAIQYLJOCKI7AsT2SMmssTNIEn4qdMDWbX16JiZRVGjDi1TM7g2aERiRuYnvb6zXxCFOUFkq4LIIIhslYlGo8Fg8N0AuOYUFEw+sVjROTaB9MIidPT0YshkQnVNNdo6WiGaTRBEBiYa3zKRnRsaGlLSJr3qLr3etr62BpvNhvIr5VhaWkR392O0trWiWluFEYsIJhrHTCZDzJb9MpksSvv02co3AJ+Xl1FSWgKr1YrK25VouNeAWxU3181Wcx9jLPCvBlycHE/kPuz6MQ/g48I8MjIzoNVqkXwmGZpUzc9LxQXNs7Oz7ttZjIhLSnp912z91d7Ti6joSOTm5cLN3e0D58wV8zy/e/snICIpkf8+ni/zDQyYlDhI5jw9PVskEkkMEe3crvcbYaxJq3rh4PYAAAAASUVORK5CYII=</Image>
	<Url type="text/html" method="get" template="https://saltstack.cz/s/?q={searchTerms}"></Url>
</OpenSearchDescription>
